#AGENTOPS_ENABLED="False"
#OPENAI_API_KEY=""
#OPENROUTER_API_KEY=""
#OPENAI_MODEL_NAME="openrouter/nousresearch/deephermes-3-mistral-24b-preview:free"
#OPENAI_API_BASE="https://openrouter.ai/api/v1" # based on your openrouter's url
#OPENAI_PROXY_MODELS="openrouter/nousresearch/deephermes-3-mistral-24b-preview:free"
# GROQ_API_KEY="FILL-IN-YOUR-GROQ_API_KEY"
# LMSTUDIO_API_BASE="http://localhost:1234/v1"
# ANTHROPIC_API_KEY="FILL-IN-YOUR-ANTHROPIC_API_KEY"
# AGENTOPS_API_KEY="FILL-IN-YOUR-AGENTOPS_API_KEY" 
# XAI_API_KEY="FILL-IN-YOUR-XAI_API_KEY"
# OLLAMA_HOST="http://localhost:11434"
# OLLAMA_MODELS="ollama/llama3.2,ollama/llama3.1,ollama/gemma2,ollama/phi3.5"
# SERPER_API_KEY="your-serper-api-key"
# DB_URL=postgresql://crewai_user:secret@db:5432/crewai